body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
#map {
  width: 100vw;
  height: 100vh;
}
.wrap {
  position: relative;
}
.menu {
  position: absolute;
  top: 5px;
  left: 5px;
}
.menu .box {
  position: absolute;
  width: 25px;
  height: 25px;
  /* background-color: white; */
  z-index: 2;
  transition: all 0.5s;
}

.menu .box.show {
  width: 300px;
  height: calc(100vh - 10px);
  background: rgba(0, 0, 0, 0.5);
}
.menu .menu_toggle {
  position: absolute;
  transform: rotate(-90deg) scale(1.5);
  transition: all 0.5s;
  cursor: pointer;
  z-index: 3;
}
.menu_toggle.show {
  transform: rotate(0deg) scale(1.5);
}
.menu .box .boxWrap.hidden {
  display: none;
}

.infoWindow {
  padding: 10px;
}

.addr {
  position: absolute;
  top: 5px;
  left: 35px;
  width: 250px;
  height: 25px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  font-size: 0.8rem;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* category */
.category {
  display: inline-block;
  margin-top: 50px;
}
.category label {
  color: white;
  margin: 10px;
  font-size: 0.8rem;
}
.category #categorySelect {
  padding: 5px;
  border-radius: 10px;
}

/* location */
.mylocation {
  display: inline-block;
  margin-left: 30px;
}
.mylocation i {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

/* 현재위치 포인터 애니메이션효과 */
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);
    -moz-box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(204, 49, 44, 0);
    -moz-box-shadow: 0 0 0 20px rgba(204, 49, 44, 0);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(204, 49, 44, 0);
    -moz-box-shadow: 0 0 0 20px rgba(204, 49, 44, 0);
  }
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);
    -moz-box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(204, 49, 44, 0);
    -moz-box-shadow: 0 0 0 20px rgba(204, 49, 44, 0);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(204, 49, 44, 0);
    -moz-box-shadow: 0 0 0 20px rgba(204, 49, 44, 0);
  }
}

img[title='현재위치'] {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 rgb(255, 0, 0);
  animation: pulse 1.7s infinite;
}

/* 키워드 검색 */
.search {
  margin-top: 1rem;
}
.search label {
  color: white;
  margin: 10px;
  font-size: 0.8rem;
  letter-spacing: 1.5rem;
}
input#search {
  padding: 7px;
  border-radius: 10px;
  outline: none;
  border: none;
  margin-left: -1.4rem;
  font-size: 0.8rem;
}
.searchdata {
  margin: 20px auto;
  width: 90%;
  height: 50vh;
  background: rgba(255, 255, 255, 0.7);
  overflow-y: auto;
  color: black;
  font-size: 0.8rem;
  font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
}
.searchdata.show {
  display: block;
}
.searchdata.hidden {
  display: none;
}
.searchdata li {
  list-style: none;
}
.searchdata .item {
  position: relative;
  border-bottom: 1px solid #888;
  overflow: hidden;
  cursor: pointer;
  min-height: 65px;
}
.searchdata .item span {
  display: block;
  margin-top: 4px;
}
.searchdata .item h5,
.searchdata .item .info {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.searchdata .item .info {
  padding: 10px;
}
.searchdata .info .gray {
  color: #8a8a8a;
}
.searchdata .info .jibun {
  padding-left: 26px;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png)
    no-repeat;
}
.searchdata .info .tel {
  color: #009900;
}
